<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
<!--     <p>{{ site.description }}</p> -->
<img src="/images/users/head.jpg" style="width:120px; display: block;max-width: 100%;margin: 0 auto;
  border-radius: 100px;">
  <span style="margin: 20px auto 0;display: block;">hi!&nbsp;I'm roy.<br/>welcome to my personal blog.</span>
  </div>

  <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">主页</a>
      <a class="sidebar-nav-item" href="/b_essay">归档</a>
      <a class="sidebar-nav-item" href="/b_projects">作品</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
      <a class="sidebar-nav-fa" href="https://github.com/royluck">
                <i class="fa fa-github"></i> GitHub
      </a>
      <a class="sidebar-nav-fa" href="https://www.zhihu.com/people/rosy-rose">
                 <i class="fa fa-globe"></i> 知乎
      </a>
  </nav>

  <div class="sidebar-item fish">
    <p>
      <!-- &copy; {{ site.time | date: '%Y' }}. All rights reserved. -->
     &nbsp;&nbsp;_(:з」∠)_&nbsp;&nbsp;&nbsp;我大概就是一条咸鱼吧~ 
    </p>
  </div>
</div>
