---
layout: default
title: Home
---
 <body>
    <div id='layout'>
    <div id='content' class="hp">
      <div id='posts' class="leftblock">
        <ul>
          {% for post in site.categories.blog %}
            <li class='post'>
                  {% if post.image %}
                          <a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
                  {% endif %}
                          <div class="postcontent">     
                                   <a href='{{post.url}}'>
                                             <h1 class='post-title'>{{post.title}}</h1>
                                    </a>
                                    <div class='post-content'>{{post.summary}}</div>
                          </div>
                      </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
